@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

.v-application {
    font-family: 'Exo', sans-serif;
}

.weight-bold {
	font-weight: 700 !important;
}

.weight-semi-bold {
	font-weight: 600 !important;
}

.weight-medium {
	font-weight: 500 !important;
}

.weight-regular {
	font-weight: 400 !important;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.v-sheet.v-card {
    border-radius: 10px;
}

.v-text-field--outlined fieldset {
    border-color:var(--v-input-border-color-base);
}

.v-text-field--outlined.v-input--is-focused fieldset{
    border-color:var(--v-input-border-color-active-base);
}

.v-select .v-input__icon.v-input__icon--append i {
    color: var(--v-primary-base) !important;
}

.header {
    font-size: 20px;
    font-weight: 700 !important;
    color: var(--v-tertiary-base) !important;
}